[bumpversion]
current_version = 0.2.6
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:obserwrt/Makefile]
search = PKG_VERSION:={current_version}
replace = PKG_VERSION:={new_version}
