# obserwrt C++ style: LLVM base, tab indentation (kernel/WRT heritage).
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
SortIncludes: CaseSensitive
IncludeBlocks: Preserve